img {
    width: 300px;
    object-fit: cover;
    height: 300px;

}

#container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    gap: 30px;
    margin: 120px 0 30px 0;

}